USE [University]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/23/2026 7:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Course_id] [int] IDENTITY(1,1) NOT NULL,
	[Course_Name] [varchar](50) NULL,
	[Major_id] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 7/23/2026 7:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[Enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[Student_id] [int] NOT NULL,
	[Course_id] [int] NOT NULL,
	[Grade] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 7/23/2026 7:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[Major_id] [int] IDENTITY(1,1) NOT NULL,
	[Major_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Major] PRIMARY KEY CLUSTERED 
(
	[Major_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/23/2026 7:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Student_id] [int] IDENTITY(1,1) NOT NULL,
	[Student_Name] [varchar](50) NULL,
	[Major_id] [int] NULL,
	[AverageGrade] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([Course_id], [Course_Name], [Major_id]) VALUES (1, N'JAVA', 1)
INSERT [dbo].[Course] ([Course_id], [Course_Name], [Major_id]) VALUES (2, N'WEB', 1)
INSERT [dbo].[Course] ([Course_id], [Course_Name], [Major_id]) VALUES (3, N'Business Management', 2)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollment] ON 

INSERT [dbo].[Enrollment] ([Enrollment_id], [Student_id], [Course_id], [Grade]) VALUES (1, 1, 1, 78)
INSERT [dbo].[Enrollment] ([Enrollment_id], [Student_id], [Course_id], [Grade]) VALUES (2, 2, 1, 78)
INSERT [dbo].[Enrollment] ([Enrollment_id], [Student_id], [Course_id], [Grade]) VALUES (3, 3, 3, 70)
SET IDENTITY_INSERT [dbo].[Enrollment] OFF
GO
SET IDENTITY_INSERT [dbo].[Major] ON 

INSERT [dbo].[Major] ([Major_id], [Major_Name]) VALUES (1, N'Computer Science')
INSERT [dbo].[Major] ([Major_id], [Major_Name]) VALUES (2, N'Busniess')
INSERT [dbo].[Major] ([Major_id], [Major_Name]) VALUES (3, N'Marketing')
SET IDENTITY_INSERT [dbo].[Major] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Student_id], [Student_Name], [Major_id], [AverageGrade]) VALUES (1, N'Adnan', 1, CAST(78.00 AS Decimal(5, 2)))
INSERT [dbo].[Student] ([Student_id], [Student_Name], [Major_id], [AverageGrade]) VALUES (2, N'Omar', 1, CAST(54.00 AS Decimal(5, 2)))
INSERT [dbo].[Student] ([Student_id], [Student_Name], [Major_id], [AverageGrade]) VALUES (3, N'Bakr', 2, CAST(70.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Major] FOREIGN KEY([Major_id])
REFERENCES [dbo].[Major] ([Major_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Major]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Course] FOREIGN KEY([Course_id])
REFERENCES [dbo].[Course] ([Course_id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Course]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Student] FOREIGN KEY([Student_id])
REFERENCES [dbo].[Student] ([Student_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Major] FOREIGN KEY([Major_id])
REFERENCES [dbo].[Major] ([Major_id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Major]
GO
